.toggleField.svelte-1rige7q.svelte-1rige7q {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left
}

.modal-form.svelte-1rige7q.svelte-1rige7q {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: left;
    gap: 2rem
}

.modal-form.svelte-1rige7q fieldset.svelte-1rige7q {
    display: flex;
    flex-direction: column;
    gap: 1rem
}