:root {
    --datepicker-border-color: #e8e9ea;
    --datepicker-border-radius-small: .125rem;
    --datepicker-border-radius-base: .25rem;
    --datepicker-border-radius-large: .5rem;
    --datepicker-border-radius-xlarge: .75rem;
    --datepicker-border-radius-xxlarge: 1rem;
    --datepicker-border-radius-xxxlarge: 1.125rem;
    --datepicker-state-active: #0087ff;
    --datepicker-state-hover: #e7f7fc;
    --datepicker-color: #21333d;
    --datepicker-font-family: "Rubik", sans-serif;
    --datepicker-font-size-jumbo: 1.75rem;
    --datepicker-font-size-xxxlarge: 1.5rem;
    --datepicker-font-size-xxlarge: 1.375rem;
    --datepicker-font-size-xlarge: 1.25rem;
    --datepicker-font-size-large: 1.125rem;
    --datepicker-font-size-base: 14px;
    --datepicker-font-size-medium: .89rem;
    --datepicker-font-size-small: .75rem;
    --datepicker-font-size-xsmall: .625rem;
    --datepicker-font-size-xxsmall: .5rem;
    --datepicker-font-size-xxxsmall: .375rem;
    --datepicker-font-weight-thin: 100;
    --datepicker-font-weight-light: 300;
    --datepicker-font-weight-base: 400;
    --datepicker-font-weight-medium: 500;
    --datepicker-font-weight-bold: 700;
    --datepicker-font-weight-black: 900;
    --datepicker-spacing: 8px;
    --datepicker-margin-xsmall: calc(var(--datepicker-spacing) / 4);
    --datepicker-margin-small: calc(var(--datepicker-spacing) / 2);
    --datepicker-margin-base: var(--datepicker-spacing);
    --datepicker-margin-large: calc(var(--datepicker-spacing) * 2);
    --datepicker-margin-xlarge: calc(var(--datepicker-spacing) * 3);
    --datepicker-margin-xxlarge: calc(var(--datepicker-spacing) * 4);
    --datepicker-margin-xxxlarge: calc(var(--datepicker-spacing) * 5);
    --datepicker-margin-jumbo: calc(var(--datepicker-spacing) * 6);
    --datepicker-padding-xsmall: calc(var(--datepicker-spacing) / 4);
    --datepicker-padding-small: calc(var(--datepicker-spacing) / 2);
    --datepicker-padding-base: var(--datepicker-spacing);
    --datepicker-padding-large: calc(var(--datepicker-spacing) * 2);
    --datepicker-padding-xlarge: calc(var(--datepicker-spacing) * 3);
    --datepicker-padding-xxlarge: calc(var(--datepicker-spacing) * 4);
    --datepicker-padding-xxxlarge: calc(var(--datepicker-spacing) * 5);
    --datepicker-padding-jumbo: calc(var(--datepicker-spacing) * 6);
    --datepicker-container-background: #fff;
    --datepicker-container-border: 1px solid #e8e9ea;
    --datepicker-container-border-radius: 12px;
    --datepicker-container-box-shadow: 0 1px 20px rgba(0, 0, 0, .1);
    --datepicker-container-font-family: var(--datepicker-font-family);
    --datepicker-container-left: 0;
    --datepicker-container-position: absolute;
    --datepicker-container-width: fit-content;
    --datepicker-container-zindex: 99;
    --datepicker-calendar-border: 0;
    --datepicker-calendar-padding: var(--datepicker-padding-base) var(--datepicker-padding-large) var(--datepicker-padding-xlarge);
    --datepicker-calendar-position: relative;
    --datepicker-calendar-width: 310px;
    --datepicker-calendar-split-border: 1px solid var(--datepicker-border-color);
    --datepicker-calendar-header-align-items: center;
    --datepicker-calendar-header-color: var(--datepicker-color);
    --datepicker-calendar-header-display: flex;
    --datepicker-calendar-header-font-size: var(--datepicker-font-size-large);
    --datepicker-calendar-header-justify-content: space-between;
    --datepicker-calendar-header-margin: 0 0 var(--datepicker-margin-xlarge) 0;
    --datepicker-calendar-header-padding: var(--datepicker-padding-large) var(--datepicker-padding-base);
    --datepicker-calendar-header-user-select: none;
    --datepicker-calendar-header-month-nav-background: transparent;
    --datepicker-calendar-header-month-nav-background-hover: #f5f5f5;
    --datepicker-calendar-header-month-nav-border: 0;
    --datepicker-calendar-header-month-nav-border-radius: 20px;
    --datepicker-calendar-header-month-nav-color: var(--datepicker-color);
    --datepicker-calendar-header-month-nav-cursor: pointer;
    --datepicker-calendar-header-month-nav-font-size: var(--datepicker-font-size-large);
    --datepicker-calendar-header-month-nav-height: 32px;
    --datepicker-calendar-header-month-nav-margin-left: -8px;
    --datepicker-calendar-header-month-nav-padding: var(--datepicker-padding-small);
    --datepicker-calendar-header-month-nav-text-align: center;
    --datepicker-calendar-header-month-nav-width: 32px;
    --datepicker-calendar-header-month-nav-icon-next-background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACLSURBVHgB7ZTLCYAwEERHbcASUpIlaAd2YDoxlmIX3ixFEwwYQQL5kCWwD94ph5mwywIMUzmLlYRBe1lXENBrT+oSgktwiepLNJ63EWkl3AOltBMCkHh/kEv5F9SCGN8IzKntEYfAdwQb0kYaHO4uoUJBBIdzOAoiKMMNQ47wDvEceA7Zrp3BMLVyA56LVFYQOkngAAAAAElFTkSuQmCC) no-repeat center center;
    --datepicker-calendar-header-month-nav-icon-next-background-size: 16px 16px;
    --datepicker-calendar-header-month-nav-icon-next-filter: invert(0);
    --datepicker-calendar-header-month-nav-icon-next-height: 16px;
    --datepicker-calendar-header-month-nav-icon-next-margin: auto;
    --datepicker-calendar-header-month-nav-icon-next-width: 16px;
    --datepicker-calendar-header-month-nav-icon-prev-background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACKSURBVHgB7ZbBDYAgDEW/xgEcgZHcQDYRJ5ER3EhHcAPtAQMHQwIiSNKXvAMH+CUNDQDDVM5kLMJCnsYBmXHDN1IgIxzO4QIZ+Ty8gT9cOuuZ3BHHQa4hGxTszVOpnoJaFMbXAk2OzvpNC+7zojYVewFcBBdRVRE9CqCR4EvWIR4JO5iC5jzD/IoLU/FXPXheCj0AAAAASUVORK5CYII=) no-repeat center center;
    --datepicker-calendar-header-month-nav-icon-prev-background-size: 16px 16px;
    --datepicker-calendar-header-month-nav-icon-prev-filter: invert(0);
    --datepicker-calendar-header-month-nav-icon-prev-height: 16px;
    --datepicker-calendar-header-month-nav-icon-prev-margin: auto;
    --datepicker-calendar-header-month-nav-icon-prev-width: 16px;
    --datepicker-calendar-header-text-align-items: center;
    --datepicker-calendar-header-text-color: var(--datepicker-color);
    --datepicker-calendar-header-text-display: flex;
    --datepicker-calendar-header-text-font-size: inherit;
    --datepicker-calendar-header-text-font-weight: var(--datepicker-font-weight-medium);
    --datepicker-calendar-header-text-gap: 8px;
    --datepicker-calendar-header-year-align-items: center;
    --datepicker-calendar-header-year-display: flex;
    --datepicker-calendar-header-year-flex-direction: column;
    --datepicker-calendar-header-year-margin: 0;
    --datepicker-calendar-header-year-nav-display: block;
    --datepicker-calendar-header-year-nav-color: var(--datepicker-color);
    --datepicker-calendar-header-year-nav-height: 12px;
    --datepicker-calendar-header-year-nav-line-height: 12px;
    --datepicker-calendar-header-year-nav-margin: -2px 0 0 0;
    --datepicker-calendar-header-year-nav-padding: 0;
    --datepicker-calendar-header-year-nav-width: 12px;
    --datepicker-calendar-header-year-nav-icon-font-size: 13px;
    --datepicker-calendar-header-year-nav-icon-next-background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABuSURBVHgB7c7BCYAwDIXhBy7gKB2hm9Vx3UJzqCASRWOTHvo+yDG8HyAiGt2Ef7LcLLeigyK31SsIdh4Pj9DGwyKu40u9kAht/OAe8TTuHvFm3C3iy3jziGQYv4vIMMjGcS0iwSjBWN/on4hoADu88UW4KXFVfgAAAABJRU5ErkJggg==) no-repeat center center;
    --datepicker-calendar-header-year-nav-icon-next-background-size: 12px 12px;
    --datepicker-calendar-header-year-nav-icon-next-display: block;
    --datepicker-calendar-header-year-nav-icon-next-filter: invert(0);
    --datepicker-calendar-header-year-nav-icon-next-height: 12px;
    --datepicker-calendar-header-year-nav-icon-next-width: 12px;
    --datepicker-calendar-header-year-nav-icon-prev-background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB3SURBVHgB7dTRCYAwDATQAxdwlI6QzZpx3UIrKJSC1aS2fngP7kvi3VcBIqK/m26+S8qcssBHWu5Dynokwi5m9wIHyX5gHRGL2wAndYwoyxWN1DDi9XLLiG7lT0Z0L6+NGFZ+NWJoeW2EYjD9svy0PzACIiJqsAHF2EaCcjFGaQAAAABJRU5ErkJggg==) no-repeat center center;
    --datepicker-calendar-header-year-nav-icon-prev-background-size: 12px 12px;
    --datepicker-calendar-header-year-nav-icon-prev-display: block;
    --datepicker-calendar-header-year-nav-icon-prev-filter: invert(0);
    --datepicker-calendar-header-year-nav-icon-prev-height: 12px;
    --datepicker-calendar-header-year-nav-icon-prev-width: 12px;
    --datepicker-presets-border: 1px solid var(--datepicker-border-color);
    --datepicker-presets-padding: 24px;
    --datepicker-presets-minwidth: 180px;
    --datepicker-presets-maxwidth: 200px;
    --datepicker-presets-button-background: transparent;
    --datepicker-presets-button-background-hover: var(--datepicker-state-hover);
    --datepicker-presets-button-background-active: var(--datepicker-state-active);
    --datepicker-presets-button-border: 0;
    --datepicker-presets-button-border-radius: 40px;
    --datepicker-presets-button-border-radius-active: 20px;
    --datepicker-presets-button-color: var(--datepicker-color);
    --datepicker-presets-button-color-active: #fff;
    --datepicker-presets-button-color-hover: var(--datepicker-color);
    --datepicker-presets-button-color-focus: var(--datepicker-color);
    --datepicker-presets-button-cursor: pointer;
    --datepicker-presets-button-cursor-active: default;
    --datepicker-presets-button-font-family: var(--datepicker-font-family);
    --datepicker-presets-button-font-size: var(--datepicker-font-size-base);
    --datepicker-presets-button-font-weight-active: var(--datepicker-font-weight-medium);
    --datepicker-presets-button-outline-focus: 5px auto -webkit-focus-ring-color;
    --datepicker-presets-button-margin: var(--datepicker-margin-small) 0;
    --datepicker-presets-button-padding: calc(var(--datepicker-padding-base) + 2px) var(--datepicker-padding-large);
    --datepicker-presets-button-text-align: left;
    --datepicker-presets-button-zindex-focus: 10;
    --datepicker-timepicker-container-align-items: center;
    --datepicker-timepicker-container-display: flex;
    --datepicker-timepicker-container-justify-content: space-around;
    --datepicker-timepicker-container-margin-bottom: var(--datepicker-margin-xlarge);
    --datepicker-timepicker-input-border: 1px solid var(--datepicker-border-color);
    --datepicker-timepicker-input-border-radius: var(--datepicker-border-radius-base);
    --datepicker-timepicker-input-display: block;
    --datepicker-timepicker-input-font-family: var(--datepicker-font-family);
    --datepicker-timepicker-input-margin: 0 auto;
    --datepicker-timepicker-input-padding: var(--datepicker-padding-small) var(--datepicker-padding-base);
    --datepicker-calendar-dow-color: #8b9198;
    --datepicker-calendar-dow-font-size: var(--datepicker-font-size-base);
    --datepicker-calendar-dow-font-weight: var(--datepicker-font-weight-medium);
    --datepicker-calendar-dow-margin-bottom: var(--datepicker-margin-large);
    --datepicker-calendar-dow-text-align: center;
    --datepicker-calendar-container-display: grid;
    --datepicker-calendar-container-grid-template-columns: repeat(7, 1fr);
    --datepicker-calendar-container-grid-gap: 0;
    --datepicker-calendar-container-width: fit-content;
    --datepicker-calendar-day-container-appearance: none;
    --datepicker-calendar-day-container-background: inherit;
    --datepicker-calendar-day-container-border: 0;
    --datepicker-calendar-day-container-margin: 0;
    --datepicker-calendar-day-container-padding: 0;
    --datepicker-calendar-day-container-position: relative;
    --datepicker-calendar-day-container-text-align: center;
    --datepicker-calendar-day-align-items: center;
    --datepicker-calendar-day-background-hover: #f5f5f5;
    --datepicker-calendar-day-border: 1px solid transparent;
    --datepicker-calendar-day-border-radius: 100%;
    --datepicker-calendar-day-color: #232a32;
    --datepicker-calendar-day-color-disabled: #b9bdc1;
    --datepicker-calendar-day-color-hover: #232a32;
    --datepicker-calendar-day-cursor: pointer;
    --datepicker-calendar-day-cursor-disabled: default;
    --datepicker-calendar-day-display: flex;
    --datepicker-calendar-day-height: 40px;
    --datepicker-calendar-day-justify-content: center;
    --datepicker-calendar-day-font-family: var(--datepicker-font-family);
    --datepicker-calendar-day-font-size: var(--datepicker-font-size-base);
    --datepicker-calendar-day-margin-bottom: 1px;
    --datepicker-calendar-day-padding: var(--datepicker-padding-base);
    --datepicker-calendar-day-text-align: center;
    --datepicker-calendar-day-width: 40px;
    --datepicker-calendar-day-zindex-focus: 12;
    --datepicker-calendar-day-other-border: 0;
    --datepicker-calendar-day-other-box-shadow: none;
    --datepicker-calendar-day-other-color: #d1d3d6;
    --datepicker-calendar-today-background: transparent;
    --datepicker-calendar-today-border: 1px solid #232a32;
    --datepicker-calendar-today-cursor: default;
    --datepicker-calendar-today-font-weight: var(--datepicker-font-weight-bold);
    --datepicker-calendar-range-background: var(--datepicker-state-hover);
    --datepicker-calendar-range-background-disabled: var(--datepicker-state-hover);
    --datepicker-calendar-range-border: 0;
    --datepicker-calendar-range-border-radius: 0;
    --datepicker-calendar-range-color: var(--datepicker-color);
    --datepicker-calendar-range-color-disabled: #ffc0b7;
    --datepicker-calendar-range-cursor: default;
    --datepicker-calendar-range-font-weight: var(--datepicker-font-weight-base);
    --datepicker-calendar-range-start-box-shadow: inset -20px 0 0 var(--datepicker-state-hover);
    --datepicker-calendar-range-end-box-shadow: inset 20px 0 0 var(--datepicker-state-hover);
    --datepicker-calendar-range-start-box-shadow-selected: inset -20px 0 0 #eceff1;
    --datepicker-calendar-range-end-box-shadow-selected: inset 20px 0 0 #eceff1;
    --datepicker-calendar-range-start-end-background: #f5f5f5;
    --datepicker-calendar-range-start-end-color: #232a32;
    --datepicker-calendar-range-selected-background: var(--datepicker-state-active);
    --datepicker-calendar-range-selected-border-radius: 20px;
    --datepicker-calendar-range-selected-color: #fff;
    --datepicker-calendar-range-selected-font-weight: var(--datepicker-font-weight-medium);
    --datepicker-calendar-range-selected-start-border-radius: 20px;
    --datepicker-calendar-range-included-background: #eceff1;
    --datepicker-calendar-range-included-box-shadow: inset 20px 0 0 #eceff1;
    --datepicker-calendar-range-included-color: #232a32;
    --datepicker-calendar-range-included-font-weight: var(--datepicker-font-weight-base);
    --datepicker-calendar-range-included-height: var(--datepicker-calendar-day-height)
}

.datepicker.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    font-size: var(--datepicker-font-size-base);
    position: relative
}

.datepicker.svelte-12x67qy .svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    box-sizing: border-box
}

.datepicker.svelte-12x67qy .calendars-container.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background: var(--datepicker-container-background);
    border: var(--datepicker-container-border);
    border-radius: var(--datepicker-container-border-radius);
    box-shadow: var(--datepicker-container-box-shadow);
    display: none;
    font-family: var(--datepicker-container-font-family);
    grid-template-columns: 1fr;
    left: var(--datepicker-container-left);
    position: var(--datepicker-container-position);
    width: var(--datepicker-container-width);
    z-index: var(--datepicker-container-zindex)
}

.datepicker.svelte-12x67qy .calendars-container.right.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    left: auto;
    right: 0
}

.datepicker.svelte-12x67qy .calendars-container.show.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    display: grid;
    top: 105%
}

.datepicker.svelte-12x67qy .calendars-container.range.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    grid-template-columns: repeat(2, 1fr)
}

.datepicker.svelte-12x67qy .calendars-container.presets.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    grid-template-columns: minmax(var(--datepicker-presets-minwidth), var(--datepicker-presets-maxwidth)) 1fr 1fr
}

.datepicker.svelte-12x67qy .calendars-container.presets.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:not(.range) {
    grid-template-columns: minmax(var(--datepicker-presets-minwidth), var(--datepicker-presets-maxwidth)) 1fr
}

.datepicker.svelte-12x67qy .calendars-container.presets .calendar-presets.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    display: flex
}

.datepicker.svelte-12x67qy .calendars-container .calendar-presets.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    border-right: var(--datepicker-presets-border);
    display: none;
    flex-direction: column;
    padding: var(--datepicker-presets-padding)
}

.datepicker.svelte-12x67qy .calendars-container .calendar-presets button.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--datepicker-presets-button-background);
    box-sizing: border-box;
    border: var(--datepicker-presets-button-border);
    border-radius: var(--datepicker-presets-button-border-radius);
    color: var(--datepicker-presets-button-color);
    cursor: var(--datepicker-presets-button-cursor);
    font-family: var(--datepicker-presets-button-font-family);
    font-size: var(--datepicker-presets-button-font-size);
    margin: var(--datepicker-presets-button-margin);
    padding: var(--datepicker-presets-button-padding);
    text-align: var(--datepicker-presets-button-text-align)
}

.datepicker.svelte-12x67qy .calendars-container .calendar-presets button.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:hover {
    background-color: var(--datepicker-presets-button-background-hover);
    color: var(--datepicker-presets-button-color-hover)
}

.datepicker.svelte-12x67qy .calendars-container .calendar-presets button.active.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background-color: var(--datepicker-presets-button-background-active);
    color: var(--datepicker-presets-button-color-active);
    cursor: var(--datepicker-presets-button-cursor-active);
    font-weight: var(--datepicker-presets-button-font-weight-active)
}

.datepicker.svelte-12x67qy .calendars-container .calendar-presets button.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:focus-visible {
    border-radius: var(--datepicker-presets-button-border-radius-active);
    outline: var(--datepicker-presets-button-outline-focus);
    z-index: var(--datepicker-presets-button-zindex-focus)
}

.datepicker.svelte-12x67qy .calendars-container .calendar.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    border: var(--datepicker-calendar-border);
    padding: var(--datepicker-calendar-padding);
    position: var(--datepicker-calendar-position);
    width: var(--datepicker-calendar-width)
}

.datepicker.svelte-12x67qy .calendars-container .calendar.svelte-12x67qy+.calendar.svelte-12x67qy.svelte-12x67qy {
    border-left: var(--datepicker-calendar-split-border)
}

.datepicker.svelte-12x67qy .calendars-container .calendar header.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    align-items: var(--datepicker-calendar-header-align-items);
    color: var(--datepicker-calendar-header-color);
    display: var(--datepicker-calendar-header-display);
    font-size: var(--datepicker-calendar-header-font-size);
    justify-content: var(--datepicker-calendar-header-justify-content);
    margin: var(--datepicker-calendar-header-margin);
    padding: var(--datepicker-calendar-header-padding);
    -webkit-user-select: var(--datepicker-calendar-header-user-select);
    user-select: var(--datepicker-calendar-header-user-select)
}

.datepicker.svelte-12x67qy .calendars-container .calendar header button.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--datepicker-calendar-header-month-nav-background);
    border: var(--datepicker-calendar-header-month-nav-border);
    border-radius: var(--datepicker-calendar-header-month-nav-border-radius);
    color: var(--datepicker-calendar-header-month-nav-color);
    cursor: var(--datepicker-calendar-header-month-nav-cursor);
    font-size: var(--datepicker-calendar-header-month-nav-font-size);
    height: var(--datepicker-calendar-header-month-nav-height);
    margin-left: var(--datepicker-calendar-header-month-nav-margin-left);
    padding: var(--datepicker-calendar-header-month-nav-padding);
    text-align: var(--datepicker-calendar-header-month-nav-text-align);
    width: var(--datepicker-calendar-header-month-nav-width)
}

.datepicker.svelte-12x67qy .calendars-container .calendar header.svelte-12x67qy>span.svelte-12x67qy.svelte-12x67qy {
    align-items: var(--datepicker-calendar-header-text-align-items);
    color: var(--datepicker-calendar-header-text-color);
    display: var(--datepicker-calendar-header-text-display);
    font-size: var(--datepicker-calendar-header-text-font-size);
    font-weight: var(--datepicker-calendar-header-text-font-weight);
    gap: var(--datepicker-calendar-header-text-gap)
}

.datepicker.svelte-12x67qy .calendars-container .calendar header.svelte-12x67qy>span.svelte-12x67qy+button.svelte-12x67qy {
    margin-left: 0;
    margin-right: -8px
}

.datepicker.svelte-12x67qy .calendars-container .calendar header>span .years.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    align-items: var(--datepicker-calendar-header-year-align-items);
    display: var(--datepicker-calendar-header-year-display);
    flex-direction: var(--datepicker-calendar-header-year-flex-direction);
    margin: var(--datepicker-calendar-header-year-margin)
}

.datepicker.svelte-12x67qy .calendars-container .calendar header>span .years button.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    display: var(--datepicker-calendar-header-year-nav-display);
    color: var(--datepicker-calendar-header-year-nav-color);
    height: var(--datepicker-calendar-header-year-nav-height);
    line-height: var(--datepicker-calendar-header-year-nav-line-height);
    margin: var(--datepicker-calendar-header-year-nav-margin);
    padding: var(--datepicker-calendar-header-year-nav-padding);
    width: var(--datepicker-calendar-header-year-nav-width)
}

.datepicker.svelte-12x67qy .calendars-container .calendar header>span .years button i.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    font-size: var(--datepicker-calendar-header-year-nav-icon-font-size)
}

.datepicker.svelte-12x67qy .calendars-container .calendar header button.hide.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    opacity: 0
}

.datepicker.svelte-12x67qy .calendars-container .calendar header button.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:hover {
    background: var(--datepicker-calendar-header-month-nav-background-hover)
}

.datepicker.svelte-12x67qy .calendars-container .calendar header.timepicker.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    margin-bottom: 0
}

.datepicker.svelte-12x67qy .calendars-container .calendar .timepicker.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    align-items: var(--datepicker-timepicker-container-align-items);
    display: var(--datepicker-timepicker-container-display);
    justify-content: var(--datepicker-timepicker-container-justify-content);
    margin-bottom: var(--datepicker-timepicker-container-margin-bottom)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .timepicker input[type=time].svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    border: var(--datepicker-timepicker-input-border);
    border-radius: var(--datepicker-timepicker-input-border-radius);
    display: var(--datepicker-timepicker-input-display);
    font-family: var(--datepicker-timepicker-input-font-family);
    margin: var(--datepicker-timepicker-input-margin);
    padding: var(--datepicker-timepicker-input-padding)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .timepicker input[type=time].end-time.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    display: none
}

.datepicker.svelte-12x67qy .calendars-container .calendar .timepicker.show input[type=time].end-time.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    display: block
}

.datepicker.svelte-12x67qy .calendars-container .calendar header button.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:focus-visible,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:focus-visible {
    border-radius: 20px;
    outline: 5px auto -webkit-focus-ring-color;
    z-index: 10
}

.datepicker.svelte-12x67qy .calendars-container .calendar .month.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    display: var(--datepicker-calendar-container-display);
    grid-template-columns: var(--datepicker-calendar-container-grid-template-columns);
    grid-gap: var(--datepicker-calendar-container-grid-gap);
    width: var(--datepicker-calendar-container-display)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .dow.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    color: var(--datepicker-calendar-dow-color);
    font-size: var(--datepicker-calendar-dow-font-size);
    font-weight: var(--datepicker-calendar-dow-font-weight);
    margin-bottom: var(--datepicker-calendar-dow-margin-bottom);
    text-align: var(--datepicker-calendar-dow-text-align)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    -webkit-appearance: var(--datepicker-calendar-day-container-appearance);
    -moz-appearance: var(--datepicker-calendar-day-container-appearance);
    appearance: var(--datepicker-calendar-day-container-appearance);
    background: var(--datepicker-calendar-day-container-background);
    border: var(--datepicker-calendar-day-container-border);
    margin: var(--datepicker-calendar-day-container-margin);
    padding: var(--datepicker-calendar-day-container-padding);
    position: var(--datepicker-calendar-day-container-position);
    text-align: var(--datepicker-calendar-day-container-text-align)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    align-items: var(--datepicker-calendar-day-align-items);
    border: var(--datepicker-calendar-day-border);
    border-radius: var(--datepicker-calendar-day-border-radius);
    color: var(--datepicker-calendar-day-color);
    cursor: var(--datepicker-calendar-day-cursor);
    display: var(--datepicker-calendar-day-display);
    height: var(--datepicker-calendar-day-height);
    justify-content: var(--datepicker-calendar-day-justify-content);
    font-family: var(--datepicker-calendar-day-font-family);
    font-size: var(--datepicker-calendar-day-font-size);
    margin-bottom: var(--datepicker-calendar-day-margin-bottom);
    padding: var(--datepicker-calendar-day-padding);
    text-align: var(--datepicker-calendar-day-text-align);
    width: var(--datepicker-calendar-day-width)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date:not(.other):not(.range):not(.future):not(.past):not(.disabled) span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:hover {
    background-color: var(--datepicker-calendar-day-background-hover);
    color: var(--datepicker-calendar-day-color-hover)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:focus {
    z-index: var(--datepicker-calendar-day-zindex-focus)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.disabled span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.past span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.future span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    color: var(--datepicker-calendar-day-color-disabled);
    cursor: var(--datepicker-calendar-day-cursor-disabled)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.today span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background: var(--datepicker-calendar-today-background);
    border: var(--datepicker-calendar-today-border);
    cursor: var(--datepicker-calendar-today-cursor);
    font-weight: var(--datepicker-calendar-today-font-weight)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background: var(--datepicker-calendar-range-background);
    border: var(--datepicker-calendar-range-border);
    border-radius: var(--datepicker-calendar-range-border-radius);
    color: var(--datepicker-calendar-range-color);
    cursor: var(--datepicker-calendar-range-cursor);
    font-weight: var(--datepicker-calendar-range-font-weight)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.start.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range.start.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    box-shadow: var(--datepicker-calendar-range-start-box-shadow);
    height: var(--datepicker-calendar-day-height)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.end.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range.end.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    box-shadow: var(--datepicker-calendar-range-end-box-shadow);
    height: var(--datepicker-calendar-day-height)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.start span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range.start span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.end span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range.end span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background-color: var(--datepicker-calendar-range-selected-background);
    border-radius: var(--datepicker-calendar-range-selected-border-radius);
    color: var(--datepicker-calendar-range-selected-color);
    font-weight: var(--datepicker-calendar-range-selected-font-weight)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.first span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range.first span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover:nth-last-child(7n):not(.start):not(.end) span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range:nth-last-child(7n):not(.start):not(.end) span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.last span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range.last span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover:nth-child(7n):not(.start):not(.end) span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range:nth-child(7n):not(.start):not(.end) span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.disabled span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range.disabled span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background: var(--datepicker-calendar-range-background-disabled);
    color: var(--datepicker-calendar-range-color-disabled)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.start.end.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.range.start.end.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    box-shadow: none
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.svelte-12x67qy:not(.rangehover)+.rangehover.svelte-12x67qy.svelte-12x67qy:not(.end),
.datepicker.svelte-12x67qy .calendars-container .calendar .date.svelte-12x67qy:not(.rangehover)+.rangehover.start.svelte-12x67qy.svelte-12x67qy {
    box-shadow: var(--datepicker-calendar-range-start-box-shadow-selected) !important;
    height: var(--datepicker-calendar-day-height)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date:not(.rangehover)+.rangehover span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date:not(.rangehover)+.rangehover.start span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    border-radius: var(--datepicker-calendar-range-selected-start-border-radius)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background-color: var(--datepicker-calendar-range-included-background);
    color: var(--datepicker-calendar-range-included-color);
    font-weight: var(--datepicker-calendar-range-included-font-weight)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:hover {
    box-shadow: var(--datepicker-calendar-range-included-box-shadow);
    height: var(--datepicker-calendar-range-included-height)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover:hover span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    border-radius: 20px;
    font-weight: var(--datepicker-font-weight-medium)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.first.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy:hover,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.start.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    box-shadow: var(--datepicker-calendar-range-start-box-shadow-selected);
    height: var(--datepicker-calendar-day-height)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.svelte-12x67qy:not(.start)+.start.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.end.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    box-shadow: var(--datepicker-calendar-range-end-box-shadow-selected);
    height: var(--datepicker-calendar-day-height)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover:not(.start)+.start span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    border-radius: 20px
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.start span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy,
.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.end span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background-color: var(--datepicker-calendar-range-start-end-background);
    color: var(--datepicker-calendar-range-start-end-color)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.start.norange.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    box-shadow: none !important
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.rangehover.disabled span.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background-color: var(--datepicker-calendar-range-background-disabled);
    color: var(--datepicker-calendar-range-color-disabled)
}

.datepicker.svelte-12x67qy .calendars-container .calendar .date.other.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    border: var(--datepicker-calendar-day-other-border);
    box-shadow: var(--datepicker-calendar-day-other-box-shadow);
    color: var(--datepicker-calendar-day-other-color)
}

.icon-next-month.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background: var(--datepicker-calendar-header-month-nav-icon-next-background);
    background-size: var(--datepicker-calendar-header-month-nav-icon-next-background-size);
    filter: var(--datepicker-calendar-header-month-nav-icon-next-filter);
    height: var(--datepicker-calendar-header-month-nav-icon-next-height);
    margin: var(--datepicker-calendar-header-month-nav-icon-next-margin);
    width: var(--datepicker-calendar-header-month-nav-icon-next-width)
}

.icon-previous-month.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background: var(--datepicker-calendar-header-month-nav-icon-prev-background);
    background-size: var(--datepicker-calendar-header-month-nav-icon-prev-background-size);
    filter: var(--datepicker-calendar-header-month-nav-icon-prev-filter);
    height: var(--datepicker-calendar-header-month-nav-icon-prev-height);
    margin: var(--datepicker-calendar-header-month-nav-icon-prev-margin);
    width: var(--datepicker-calendar-header-month-nav-icon-prev-width)
}

.icon-next-year.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background: var(--datepicker-calendar-header-year-nav-icon-next-background);
    background-size: var(--datepicker-calendar-header-year-nav-icon-next-background-size);
    display: var(--datepicker-calendar-header-year-nav-icon-next-display);
    filter: var(--datepicker-calendar-header-year-nav-icon-next-filter);
    height: var(--datepicker-calendar-header-year-nav-icon-next-height);
    width: var(--datepicker-calendar-header-year-nav-icon-next-width)
}

.icon-previous-year.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
    background: var(--datepicker-calendar-header-year-nav-icon-prev-background);
    background-size: var(--datepicker-calendar-header-year-nav-icon-prev-background-size);
    display: var(--datepicker-calendar-header-year-nav-icon-prev-display);
    filter: var(--datepicker-calendar-header-year-nav-icon-prev-filter);
    height: var(--datepicker-calendar-header-year-nav-icon-prev-height);
    width: var(--datepicker-calendar-header-year-nav-icon-prev-width)
}

@media only screen and (max-width: 800px) {
    .datepicker.svelte-12x67qy .calendars-container.show.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
        display: flex;
        flex-direction: column
    }
    .datepicker.svelte-12x67qy .calendars-container.presets .calendar-presets.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
        border-right: 0;
        border-bottom: var(--datepicker-presets-border)
    }
    .datepicker.svelte-12x67qy .calendars-container .calendar .timepicker.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
        align-items: center;
        display: flex
    }
    .datepicker.svelte-12x67qy .calendars-container .calendar .timepicker input[type=time].end-time.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
        display: block
    }
    .datepicker.svelte-12x67qy .calendars-container .calendar.svelte-12x67qy+.calendar.svelte-12x67qy.svelte-12x67qy {
        display: none
    }
    .datepicker.svelte-12x67qy .calendars-container .calendar header button.hide.svelte-12x67qy.svelte-12x67qy.svelte-12x67qy {
        opacity: 1
    }
}

body {
    --datepicker-calendar-range-selected-background: hsl(var(--clr-primary-5), 1);
    --datepicker-calendar-range-selected-color: hsl(var(--clr-on-primary-1), 1)
}

.field.svelte-6lmcf4.svelte-6lmcf4 {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    --box-clr: hsl(var(--clr-on-surface-1), 1)
}

.field.svelte-6lmcf4 label:focus-within p.svelte-6lmcf4 {
    color: hsl(var(--clr-on-surface-2), 1);
    transition: color .2s
}

label.svelte-6lmcf4.svelte-6lmcf4 {
    display: grid;
    gap: .5rem 0;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas: "label label" "icon input"
}

label.svelte-6lmcf4 span.svelte-6lmcf4 {
    grid-area: icon;
    display: flex
}

label.svelte-6lmcf4 span.svelte-6lmcf4 svg {
    width: 2rem;
    fill: var(--box-clr);
    padding: .25rem 0rem .25rem .5rem;
    transition: fill .2s
}

label.svelte-6lmcf4 input.svelte-6lmcf4 {
    grid-area: input;
    padding: .5rem;
    transition: color .2s;
    color: hsl(var(--clr-on-surface-1), 1);
    z-index: 1
}

label.svelte-6lmcf4 input.svelte-6lmcf4::placeholder {
    color: hsl(var(--clr-on-surface-2), 1)
}

label.svelte-6lmcf4 p.svelte-6lmcf4 {
    grid-area: label;
    font-weight: var(--fw-semibold)
}

label.svelte-6lmcf4 .box.svelte-6lmcf4 {
    grid-area: 2/1/3/3;
    border: solid .5px var(--box-clr);
    padding: .5rem;
    border-radius: .5rem;
    transition: box-shadow .2s
}

input:focus+p+span svg,
input:focus+p+span+.box {
    --box-clr: hsl(var(--clr-primary-5), 1)
}

.error.svelte-6lmcf4.svelte-6lmcf4 {
    color: hsl(var(--clr-error-5), 1);
    font-weight: var(--fw-semibold);
    width: 100%
}