.field.svelte-sjlolu.svelte-sjlolu {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    --box-clr: hsl(var(--clr-on-surface-1), 1)
}

.field.svelte-sjlolu label:focus-within p.svelte-sjlolu {
    color: hsl(var(--clr-on-surface-2), 1);
    transition: color .2s
}

.field.svelte-sjlolu label:focus-within .box.svelte-sjlolu {
    background-color: hsl(var(--clr-surface-1), 1)
}

label.svelte-sjlolu.svelte-sjlolu {
    display: grid;
    gap: .5rem 0;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "label label label" "left-icon input right-icon"
}

label.svelte-sjlolu .left-icon.svelte-sjlolu {
    grid-area: left-icon;
    display: flex
}

label.svelte-sjlolu .left-icon.svelte-sjlolu svg {
    width: 2rem;
    fill: var(--box-clr);
    padding: .25rem 0rem .25rem .5rem;
    transition: fill .2s
}

label.svelte-sjlolu input.svelte-sjlolu {
    grid-area: input;
    padding: .5rem;
    transition: color .2s;
    color: hsl(var(--clr-on-surface-1), 1);
    z-index: 1
}

label.svelte-sjlolu input.svelte-sjlolu::placeholder {
    color: hsl(var(--clr-on-surface-2), 1)
}

label.svelte-sjlolu p.svelte-sjlolu {
    grid-area: label;
    font-weight: var(--fw-semibold);
    display: flex;
    gap: .25rem
}

label.svelte-sjlolu p .required-asterisk.svelte-sjlolu {
    width: 1rem;
    display: flex;
    align-self: start
}

label.svelte-sjlolu .box.svelte-sjlolu {
    grid-area: 2/1/3/4;
    border: solid .5px var(--box-clr);
    padding: .5rem;
    border-radius: .5rem;
    transition: background-color .2s
}

label.svelte-sjlolu .right-icon.svelte-sjlolu {
    grid-area: right-icon;
    display: flex
}

label.svelte-sjlolu .right-icon.svelte-sjlolu svg {
    width: 2rem;
    fill: var(--alert-clr);
    padding: .25rem .5rem .25rem 0rem;
    transition: fill .2s
}

label.svelte-sjlolu .has-errors.svelte-sjlolu {
    --box-clr: hsl(var(--clr-error-5), 1)
}

.right-icon.svelte-sjlolu.svelte-sjlolu {
    --alert-clr: hsl(var(--clr-error-5), 1)
}

input:focus+p+.left-icon svg,
input:focus+p+span+.box {
    --box-clr: hsl(var(--clr-primary-5), 1)
}

.error.svelte-sjlolu.svelte-sjlolu {
    color: hsl(var(--clr-error-5), 1);
    font-weight: var(--fw-semibold);
    width: 100%
}